.signup{
  background-color: aqua;
  height: 100%;
}
.txt{
    width: 17em;
    height: 2em;
    margin-top: 20%;
    margin-left: 20%;
}
.txt1{
    width: 17em;
    height: 2em;
    margin-top: 4%;
    margin-left: 20%;
}
.txt2{
    width: 17em;
    height: 2em;
    margin-top: 4%;
    margin-left: 20%;
}
.txt3{
    width: 17em;
    height: 2em;
    margin-top: 4%;
    margin-left: 20%;
}
.btn{
    width: 35%;
    height: 4em;
    margin-left: 32%;
    background-color: black;
    color: white;
}